<h1> <center><strong> 

Welcome to Mariam Book! 

<h4>A social media site based on similiar food preferences and travel interests. </h4>

</strong></center> </h1>

<p><footer>Find me in app/views/welcome/index.html.erb</footer></p>
